body{
    background-color: ;
}
.grid{
    display: grid;
    grid-template-areas: 
    "nav nav nav nav nav"
    "hd hd hd hd hd"
    "arc arc arc arc arc"
    "sid mn mn mn mn"
    "ftr ftr ftr ftr ftr"
    ;    
    grid-template-rows: 100px 500px 30px 800px 100px;
}
nav{
    grid-area: nav;
    margin-top: 10px;
    
}
nav > ul{
    display: flex;
    
}
li{
    list-style: none;
    font-size: 2em;
    padding-left: 30px;
    color: white;
    
}
header{
    background-image: url(https://www.enterprise.com/content/dam/ecom/locations/us/fl/orlando/city-hero-orlando.jpg);
    grid-area: hd;
    background-repeat: no-repeat;
    background-size: cover;
}
article{
    background-color:rgb(247, 247, 139);
    grid-area: arc;
}
main{
    background-color: powderblue;
    grid-area: mn;
}
footer{
    background-color: purple;
    grid-area: ftr;
}
aside{
    background-color: rgb(51, 45, 51);
    grid-area: sid;
}